// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.content-minh {
    min-height: calc(100vh - 55.04px - 39.04px);
}

.bg-base {
    background-color: #4da9ba;
}

.bg-outside {
    background-color: #b4a7c7;
}

.bg-inside {
    background-color: #baadcd;
}

.bg-button {
    background-color: #8d9bc5;
    color: white;
    border: white;
}

.bitOfPaddingX {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.rounded-xl {
    border-radius: 10px !important;
}

.borderTable {
    border-color: black !important;
    border-style: dashed !important;
    border-left: none !important;
    border-right: none !important;
}

.bg-categoryName {
    background-color: #b1e4dd;
}
