// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.content-minh {
    min-height: 86vh;
}

.bg-base {
    background-color: #4da9ba;
}

.bg-outside {
    background-color: #b4a7c7;
}

.bg-inside {
    background-color: #baadcd;
}

.bg-button {
    background-color: #8d9bc5;
    color: white;
    border: white;
}

.bitOfPaddingX {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.rounded-xl {
    border-radius: 10px !important;
}
